/* TODO: Convert to .user.css format */
:root {
    --background-main: #1f1f1f;
    --background-non-intrusive: grey;
    --background-course-links: #2f2f2f;
    --dark-red: #7d0800;
    --text-color: white;
    --url-color: red;
}

html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer {
    background-color: var(--background-main) !important;
    color: var(--text-color);
    border: none;
}

#york-logo {
    background-color: var(--background-non-intrusive);
}

.app-title-bar {
    background-color: var(--dark-red);
}

a:link {
    color: var(--url-color);
}

.alert, .alert-info {
    background-color: red !important;
    border: 0px;
}

.course-info-container {
    background-color: var(--background-course-links) !important;
}

.block_slideshow, #card-widgetmenu, .dashboard-card-img { 
    /* Elements to get rid of*/
    display: none;
}