/* ==UserStyle==
@name           Transmission Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for the Transmission web interface`
@author         Hussein Esmail
==/UserStyle== */

@-moz-document url-prefix("http://localhost:9091/transmission/web") {
    
    :root {
        --background-color: black;
        --text-color: white;
        --color-disabled: red;
    }
    
    html, .torrent_list, .compact, ul, li, #torrent_container, body, .torrent, .ui-widget-content, .ui-menu-divider, .toolbar {
        background-color: var(--background-color) !important;
        color: var(--text-color) !important;
    }
    
    li.ui-state-disabled {
        background-color: var(--color-disabled) !important;
        color: var(--text-color) !important;
    }

}

