/* ==UserStyle==
@name           YorkU Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for York University websites`
@author         Me
==/UserStyle== */

@-moz-document domain("passportyork.yorku.ca"), domain("eclass.yorku.ca"), domain("webapp.eecs.yorku.ca") {

    :root {
        --color-alert: red;
        --color-bg: #1f1f1f;
        --color-bg-secondary: grey;
        --color-fg: white;
        --background-course-links: #2f2f2f;
        --dark-red: #7d0800;
        --color-url: red;
    }

    html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer {
        background-color: var(--color-bg) !important;
        color: var(--color-fg);
        border: none;
    }

    #york-logo {
        background-color: var(--color-bg-secondary);
    }

    .app-title-bar {
        background-color: var(--dark-red);
    }

    a:link {
        color: var(--color-url);
    }

    .alert, .alert-info {
        background-color: var(--color-alert) !important;
        border: 0px;
    }

    .course-info-container {
        background-color: var(--background-course-links) !important;
    }

    .block_slideshow, #card-widgetmenu, .dashboard-card-img, #ycrest { 
        /* Elements to get rid of*/
        display: none;
    }

}