/* ==UserStyle==
@name           Dark Office
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for the website Office.com`
@author         Hussein Esmail
==/UserStyle== */

@-moz-document domain("office.com") {
    
    :root {
        --color-bg: black;
        --color-bg-secondary: #2f2f2f;
        --color-bg-tertiary: #3e3e3e;
        --color-bg-lighter: #eeeeee;
        --color-fg: white;
        --color-fg-darker: black;
        --color-selected: #3f3f3f;
        --color-inprogress: darkcyan;
    }
    
    .plannerApp, .sideNav, .ms-Callout-main, .plannerAppCallout {
        background-color: var(--color-bg) !important;
    }
    
    h1, h2, h3, h4, h5, h6, .plannerApp, .sideNav, .selected, span.leftNavItem, .ms-Icon, .welcome, .tileName, .ms-TooltipHost, div.name, .value, tspan, .primaryTextSectionTitle, .pivotLink, [class^="overflowInitialsIcon"], label, .title, .dueDate, .addTaskText, .addColumn, .ms-Checkbox-text, .label, input, .htmlContent, .commenterName, .timestamp, .ms-TextField-field, .ms-Callout-main, span {
        /* Main text color */
        color: var(--color-fg) !important;
    }
    .ms-TextField-fieldGroup, button.header {
        background-color: var(--color-bg-tertiary) !important;
    }
    .rollupChart {
        background-color: var(--color-bg-lighter) !important;
    }
    
    span.leftNavItem, .ms-Icon, .linkContents {
        background-color: transparent;
    }
    
    li.selected {
        background-color: var(--color-selected) !important;
    }
    .planCard, div.container, .addButton, .taskEditor-dialog-container, .taskEditor-dialog-content, .ms-ContextualMenu-Callout {
        background-color: var(--color-bg-secondary) !important;
    }
    .color-inprogress {
        color: var(--color-inprogress) !important;
    }
    .ms-ContextualMenu-itemText {
        color: var(--color-fg-darker) !important;
    }
    
}