/* ==UserStyle==
@name           Streamyard Dark
@version        1.0.1
@author         Hussein Esmail
@description    `A dark theme for the website streamyard.com`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_streamyard.user.css
==/UserStyle== */

@-moz-document domain("streamyard.com") {
    :root {
        --color-bg: #1f1f1f;
        --color-fg: #f8f8f8;
        --color-bg-secondary: #3f3f3f;
        --color-bg-url-hover: #4f4f4f;
        --color-bg-icon: white;
        --color-fg-alert: red;
        --color-bg-alert: red;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html, p, thead, th, h3, h5, h6, label, .Menu__Overlay-guefeD, .CardRow__Row-iwYPAi, .LayoutRow__Row-hGktkw, .Studio__VideoRow-laaJIh, .ControlRow__Row-cGnYiZ, .RightAside__TabsColumn-chsQNW, .RightTabButton__SmallText-bjEwtB, .PlatformComments__Wrap-citecx, .Banners__Wrap-idyxCh, .Brand__Wrap-cFRVAJ, .Text__StyledText-llZFeh, .Chat__Wrap-diuKMg, .ReactModal__Content, .SettingsModal__DesktopSideNav-kefkTM {
        /* Main */
        background-color: var(--color-bg) !important;
        color: var(--color-fg) !important;
    }

    .irfIIU, 
    .duuTGt, 
    .Button__InnerSpan-kIhqEy,
    .Button__Wrap-hKuFEo /* "Enter Broadcast Studio" buttons on homepage */
    {
        background-color: var(--color-bg-secondary);
    }
    
    .gDuIYT {
        color: var(--color-fg);
    }
    
    a:hover {
        background-color: var(--color-bg-url-hover) !important;
    }

    .RightTabButton__IconWrap-erJwGk {
        background-color: var(--color-bg-icon);
    }

    .ButtonBase__WrapperButton-bxmLLE {
        color: white !important;
    }

    .AlertBubble__CloseButton-eBQkHq {
        /* TODO */
        /* Red X for warnings, doesn't work */
        background-color: var(--color-bg-alert) !important;
        color: var(--color-fg-alert);
    }

    .CardName__StyledText-emOkCz {
        /* Names of individual members backstage */
        background-color: transparent !important;
        color: black !important;
    }

    .jGYCRa {
        /* Blue buttons. If this isn't here */
        background-color: transparent;
    }
}