/* ==UserStyle==
@name           StackExchange Dark
@version        1.0.4
@author         Hussein Esmail
@description    `A dark theme for the StackExchange websites`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_stack_exchange.user.css
==/UserStyle== */

@-moz-document domain("stackexchange.com"),
domain("superuser.com"),
domain("askubuntu.com")
{

    :root {
        --color-bg: #141414;            /* Default background color */
		--color-bg-notice: #501414;
        --color-fg: #f8f8f8;            /* Default text color */
        --color-url: #d2d0ff;			/* URL color */
        --color-bg-code: #333333;
        --color-code-blue: lightblue;
        --color-button-active: #7a7a7a;
        --color-bg-button: #003faf;
        --color-bg-textarea: #404040;
		--font-all: monospace; /* New main font to use */
		--font-all-spacing: -1px; /* New main font spacing (if it needs to be altered) */
        color-scheme: dark;             /* Used to get dark scroll bars */
    }

    html,
	body,
	.container,
	#content,
	footer,
	header,
	.s-sidebarwidget,
	.s-sidebarwidget--header,
	.lv-info,
	.number,
	.lv-stats-wrapper,
	.dialog-content,
	.s-modal--dialog,
	.bg-white,
	.ps-relative,
	.d-flex,
	.tag-suggestions,
	.achievements-dialog,
	.achievements-dialog .header
	{
		/* Main background color */
        background-color: var(--color-bg) !important;
    }

    body {
        background-image: none;
    }

	#content,
    .container,
	.post-tag,
	.s-sidebarwidget,
	.s-sidebarwidget--header,
	.s-btn,
	.mr2,
	.js-vote-count,
	.fs-fine,
	.user-action-time,
	.number,
	.dialog-content,
	.fs-body1,
	.s-description,
	h1, h2, h3, h4, h5, h6,
	textarea,
	label,
	p,
	li,
	footer,
	header,
	code,
	input,
	pre /* Code text */
	{
		/* Main text color */
        color: var(--color-fg) !important;
    }

    code,
    pre, /* Code text */
    .post-tag
    {
		/* Code boxes background color */
        background-color: var(--color-bg-code) !important;
    }

    span.math /* When there are math images of black characters */
	{
		/* Set the background to white so it can be seen */
		background-color: white;
	}

    .question-hyperlink,
    .relativetime,
    .js-gps-track,
    .js-add-link,
    a
    {
		/* URL text color */
        color: var(--color-url) !important;
    }

    .js-freemium-cta,
	.js-create-team-cta, /* Buttons on sidebar to create a Team */
	.user-info .user-gravatar32 /* User profile pictures */
	{
        /* Banished elements */
        display: none !important;
    }

    .hljs-keyword
    {
        color: var(--color-code-blue) !important;
    }

    .youarehere,
    .youarehere > *
    {
        background-color: var(--color-button-active) !important;
    }

    textarea,
    input,
    .s-input
    {
        background-color: var(--color-bg-textarea) !important;
    }

    .s-btn__filled
    {
        background-color: var(--color-bg-button);
    }

	.s-notice /* Duplicate question warning at top of page */
	{
		padding: 5px;
		color: var(--color-fg); /* Reset text color inside element */
		background-color: var(--color-bg-notice);
		border: none;
	}

	.s-notice div
	{
		padding-left: 5px;
	}

	.user-info .user-details
	{
		margin-left: 0px !important;
		width: 100% !important;
	}

	.user-info .-flair /* Reputation beside usernames */
	{
		display: inline;
	}

	.user-info
	{
		color: var(--color-fg);
	}

	*:not(i)
	{
        /* Monospace everything except symbols (i tag) */
        font-family: var(--font-all) !important;
		font-size: 14px;
        letter-spacing: var(--font-all-spacing);
    }

	.mb8,
	#answers-header,
	.mb24
	{
		margin: 0px !important;
	}

	.site-footer--container
	{
		font-size: 10px !important;
		display: flex;
		flex-direction: column;
	}

	.site-footer--col
	{
		padding: 0px !important;
	}

	#content /* Main content of an answer */
	{
		/* Get rid of border */
		border: none;
	}
}
