/* ==UserStyle==
@name           YorkU Dark
@version        1.1.0
@author         Hussein Esmail
@description    `A dark theme for York University websites`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_yorku.user.css
==/UserStyle== */

/* From eClass area
:root {
    --color-alert: red;
    --color-bg: #1f1f1f;
    --color-bg-secondary: #201919;
    --color-fg: white;
    --color-nav: #2e2e2e;
    --background-course-links: #2f2f2f;
    --dark-red: #7d0800;
    --color-url: red;
} */

@-moz-document domain("passportyork.yorku.ca"), domain("eclass.yorku.ca"), domain("webapp.eecs.yorku.ca") {
    
    /* eClass */
    :root {
        --color-bg: #141414;              /* Default background color */
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-bg-url-visited: transparent;
		--color-bg-dropdown-hover: #202020;
        --color-fg: #f8f8f8;              /* Default text color */
        --color-fg-url: red;              /* Default URL foreground color */
        --color-fg-url-course: orange;    /* Foreground color for course URLs on homepage */
        --color-fg-danger: red;
        --color-fg-success: green;
        --color-nav: #141414;             /* Used to be: #2e2e2e */
        --dark-red: #7d0800;
        --font-all: monospace;              /* New main font to use */
        --font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html,
	body,
	p,
	#page-wrapper,
	.block-region,
	#region-main,
	.card-body,
	.pt-3,
	.card-footer,
	#region-main-box,
	.row,
	.dropdown-menu,
	.sectionhead,
	#nav-drawer,
	.list-group,
	ul,
	li,
	.list-group-item,
	.bg-light,
	.page-link,
	.card-block,
	.collapse,
	.region_main_settings_menu_proxy,
	div[id^="moodle-dialogue-yui"],
	th,
	td,
	div#tabs,
	.mod_turnitintooltwo .ui-widget-header,
	.mod_turnitintooltwo_submissions_data_table .odd .sorting_1,
	#page,
	div.card.login,
	.ps_box-group,
	.fp-navbar,
	.filemanager-container,
	.calendar_event_course,
	.btn-secondary, /* "Customize this page" button on homepage */
	#quiz-timer, /* Red timer box in corner when taking a quiz */
	a:focus,
	.editor_atto div div,
	.editor_atto div,
	a.qnbutton .thispageholder,
	.qtype_essay_editor,
	span,
	.card
	{
        background-color: var(--color-bg) !important;
    }

	a.qnbutton .trafficlight /* Completed questions on eClass quiz */
	{
		background-color: green;
	}

    .mod_turnitintooltwo_listbar,
    .block_online_users,
    .block_yu_messager,
    .dashboard-card-img,
    header#page-header div .card,
	div[aria-label="Course overview controls"] div button /* Course homepage view buttons */
	{
        /* Borders to get rid of */
        border: none !important;
    }

	div[aria-label="Course overview controls"] div button /* Course homepage view buttons */
	{
		padding: 0;
		padding-right: 20px;
	}

	div[aria-label="Course overview controls"] div button i.icon /* Course homepage view buttons */
	{
		display: none;
	}

	div[aria-label="Course overview controls"] div button:after /* Course homepage view buttons */
	{
		margin: 0;
	}

    html, body,
    p, /* Paragraphs */
    #page-wrapper,
    .block-region,
    #region-main,
    .card-body,
    .pt-3,
    .card-footer,
    #region-main-box,
    .row,
    h1, h2, h3, h4, h5, h6,
    .card-title,
    .text-muted,
    .dropdown-toggle,
    .logininfo,
    .eris_search_library,
    a,				/* URLs */
	b,				/* Bold text */
    td,
    pre,            /* Code areas */
    select,
    textarea,
    .ablock div div span,
    th,
    div.mod_turnitintooltwo_refresh_link,
    p span,
    p strong,
    .btn-secondary,         /* Mainly for "Customize Home Page" button on homepage */
	.que .formulation       /* Text for multiple choice questions and T/F */
	{
        color: var(--color-fg) !important;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    .mod_turnitintooltwo_listbar,
    .mod_turnitintooltwo_refresh_link
    {
        background: none !important;
    }

    .ui-corner-all
	{
        border-radius: 0px !important;
    }

    #york-logo,
    .eris_search_library,
    table,
    table > *
    {
        background-color: var(--color-bg-secondary);
    }

    .app-title-bar
	{
        background-color: var(--dark-red);
    }

    a:link
	{
        color: var(--color-fg-url) !important;
    }

    a:active,
    a:hover
    {
        background-color: var(--color-bg-url-hover) !important;
    }

    a:visited
    {
        background-color: var(--color-bg-url-visited) !important;
    }

    .alert,
    .alert-info,
    .alert *
    {
        background-color: var(--color-bg-alert) !important;
        border: 0px;
    }

    .course-info-container
	{
        background-color: var(--color-bg-courselink) !important;
    }

    .block_slideshow,           /* Slideshow at top of homescreen */
    #card-widgetmenu,
    #ycrest,
    .watson-btn-container,      /* Ask Savy button */
    .feedback div p,
    .feedback div div div div br,
    .feedback div div br,
    .block_yu_messager,
    .dashboard-card-img,        /* Image for each course on homescreen */
    #instance-222305-header,
    .block_badges,              /* Badges block on homescreen */
    .block_calendar_month,      /* Calendar block on homescreen */
    .dashboard-card-footer,     /* Progress bars below courses */
    .block_important_links,     /* Links section I never use */
    .block_library,              /* Library search block */
	a.qnbutton .accesshide, /* Question list on Quiz */
	li a[data-key="privatefiles"], /* "Private Files" button, I don't use it */
	li a[data-key="btn_Notepad"], /* "Notepad" button, I don't use it */
	div[data-region="event-list-container"] div[data-region="empty-message"] img, /* "No events" image on homepage sidebar */
	ul.ctopics li.section div.right.side a.cps_centre, /* "Topic #" labels beside collapsable section heads */
	ul.ctopics li.section.main.clearfix.hidden /* "Not Available" collabsable section */
    {
        /* Elements to get rid of */
        display: none;
    }

	div[id^="block-timeline"] div.border-bottom
	{
		border: none !important;
	}

    .bg-white,
    .nav-link,                      /* Language dropdown on left */
    [aria-controls="nav-drawer"],
    #page-footer,
    button.btn.nav-link,            /* Nav button on left side */
    ul.navbar-nav,                  /* Buttons beside profile menu */
    .usermenu                       /* Profile menu on right */
    {
        /* Navigation Bar */
        background-color: var(--color-nav) !important;
    }

    .sectionhead
	{
        border: white 1px solid;
    }

    select,
    textarea
    {
        /* Input boxes */
        background-color: var(--color-bg-input) !important;
    }

    .formulation,
    .info,
    .qtext p,
    .qtext div div div p,
    .ablock div div div div div div div p
    {
        /* Background color of a quiz's question panel */
        background-color: var(--color-bg-panel) !important;
    }

    i.text-success {
        background-color: var(--color-fg-success) !important;
    }

    i.text-danger {
        background-color: var(--color-fg-danger) !important;
    }

    div.mod_turnitintooltwo_refresh_link {
        border: 1px solid white;
    }

    div.col.span_1_of_4.mobile_full *,
    .york-global-footer-links
    {
        background-color: var(--dark-red) !important;
    }

    div.card-text .info {
        background-color: inherit !important;
    }

    header#page-header div .card {
        /* Reduces blank space. Still need some for the "Customise this page" button on homepage */
        height: 50px;
    }

    .block_myoverview .paged-content-page-container {
        /* Reduces blank space underneath courses homepage before the "Show #" dropdown */
        min-height: 0rem;
    }

    .block_myoverview .content {
        min-height: 10rem;
    }

    div.menubar {
        background-color: inherit !important;
    }

    .calendar_event_course {
        border-color: inherit !important;
    }

    nav[role="navigation"] {
        display: block !important;
    }

    @media (min-width: 1200px) {
        #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
            /* Homepage courses list as list not blocks */
            width: inherit;
        }
    }

    .dashboard-card,			/* Homepage: Courses in courses block */
	.course-info-container		/* Homepage: Courses in courses block */
	{
        background-color: inherit !important;
    }

    .dashboard-card,			/* Used to reduce spacing between courses list */
	.course-info-container,
    .block_timeline,			/* Homepage: Timeline block */
    .block_myoverview,			/* Homepage: Courses main block */
    .block_calendar_upcoming	/* Homepage: Calendar block */
    {
		/* Items to remove borders of */
        border: none;
    }

    .coursename, 
    .course-info-container .align-items-start .text-truncate .coursename
    {
        /* Change colour of course URLs specifically */
        color: var(--color-fg-url-course) !important;
    }

    .coursename:hover,
	a:hover
	{
        /* Do not show red background when hovering a URL */
        background-color: inherit !important;
    }

    *:not(i)
    /* *:not(i, .vjs-icon-play:before, .video-js .vjs-play-control .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before)  */
    {
        /* Monospace everything except symbols (i tag) */
        /* i tags are used for images, and emojis, which this font doesn't have */
        /* The second :not() block is for the inline ech360 video player icons */
        font-family: var(--font-all) !important;
    }

    .block .block-cards .course-info-container,
    .block_online_users div div,
    .block_online_users .p-3,
	div[data-region="event-list-container"] div[data-region="empty-message"] p /* "No events" text */
	{
        /* Reduce the empty space border around each course on homepage */
        padding: 0;
		margin: 0 !important;
    }

	header#page-header .col-12,
	header#page-header .col-12 .card
	{
		padding: 0;
	}

	div#region-main-box
	{
		display: inline-grid;
	}

	div#region-main-box section, /* Main blocks on homepage, center them */
	nav.navbar
	{
		margin-left: auto !important;
		margin-right: auto !important;
	}

	[data-region="blocks-column"], /* Second column on homepage ("Online users", "Upcoming Events", etc.) */
	#region-main.has-blocks, /* Courses column on homepage */
	nav.navbar,
	div.page-header-headings /* Course title on course page */
	{
		width: 800px !important; /* Temporary, since parent is set to auto */
	}

	div.page-content-header, /* Course title on course page */
	div.page-header-headings h1 /* Course title on course page */
	{
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center !important;
		align: center !important;
		padding: auto !important;
		display: block !important;
		padding-bottom: 30px !important;
	}

	header#page-header .col-12 .card .card-body
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	section#region-main, /* Courses list on homepage */
	.mb-3, /* Homepage items */
	.mr-3, /* Navbar toggle button on top-left corner */
	nav.navbar ul.ml-auto, /* Right side of top bar */
	.mr-auto,
	ul.ctopics li.section div.content, /* collapsable section heads */
	.course-content ul.ctopics li.section .content .toggle span.the_toggle /* collapsable section heads */
	{
		margin: 0 !important;
	}

	.sectionhead /* Collapsable section heads */
	{
		border: none;
	}

	.course-content ul.ctopics li.section .content .toggle span.the_toggle
	{
		font-weight: unset;
	}

	.navbar-brand /* eClass title on navbar */
	{
		margin: auto;
		font-size: 3em;
	}

	div.dashboard-card div.course-info-container div.dropdown button /* 3 dots beside each course link on homepage */
	{
		height: unset !important;
	}

    @media (min-width: 576px) {
        .card-deck {
			/* Make each course button on homepage as list rather than buttons */
            flex-direction: column !important;
        }
		.d-sm-flex {
			/* Course title on course page */
			display: block !important;
		}
    }

	@media (min-width: 840px) {
		.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
			/* Make each course button on homepage span whole screen size on smaller */
			width: 100%;
		}
	}

    small
	{
        /* Default = 80%, looks too small (some profs put entire paragraphs in this) */
        font-size: 90%;
    }

    .sectionname span a, /* Pointlessly self-linking URLs */
	.btn
    {
        color: var(--color-fg) !important;
    }

	@media (min-width: 768px) {
		.container {
			max-width: 100%;
		}
	}

	.dropdown-item:hover,
	.dropdown-item:active
    {
		background-color: var(--color-bg-dropdown-hover) !important;
	}

	.block_online_users div div .info /* Online users text align to left */
	{
		text-align: left !important;
	}

	a:focus
	{
		box-shadow: none !important;
	}

	img.activityicon /* File icons in a course (PDF, URL, etc.) */
	{
		/* Change height of icons */
		height: 20px;
		width: 20px;
	}

	.accesshide
	{
		position: relative;
	}

	@media (min-width: 1235px) {
		body.drawer-open-left #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card
		{
			width: unset;
		}
	}

	.w-100 /* Title of each eClass course */
	{
		/* Max width to prevent line wrapping */
		/* It's nice when each item takes up 1 line only */
		width: max-content;
	}

	div#nav-drawer, /* Sidebar */
	div#nav-drawer nav ul li a div, /* Most sidebar buttons */
	div#nav-drawer nav ul li a div div.media, /* Most sidebar buttons */
	div#nav-drawer nav ul li div div, /* For "My Courses" button */
	div#nav-drawer nav ul li div div div.media /* For "My Courses" button */
	{
		padding: 0;
	}

	div#nav-drawer nav ul li a,
	div#nav-drawer nav ul li div
	{
		padding: 5px 5px;
	}

	div[aria-label="Course overview controls"] div /* Course homepage view buttons */
	{
		margin: 0 !important;
	}

	ul.ctopics .content .sectionhead .toggle_closed .sectionname /* Folded sections (when collapsed) */
	{
		margin: 0px !important;
		text-align: left;
	}

	.section_availability .isrestricted span, /* Folded sections (when collapsed) */
	.course-content ul.ctopics li.section .content .toggle span,
	.section_availability .isrestricted /* Folded sections (when collapsed) */
	{
		color: red;
		text-align: left;
	}
}

@-moz-document domain("yfile.news.yorku.ca") {
    
    /* YFile */
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: red;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
        
        --text-title: 'York University - YFile';
    }

    aside, #footer-widgets-bg, #footer-wrap, #header-wrap, #navi-wrap, .hfeed, .container, .post, .postmeta {
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, div, time, .post {
        color: var(--color-fg) !important;
    }

    aside, article {
        /* Borders to get rid of */
        border: none !important;
    }

    #york-logo a img, #logo {
        /* Elements to get rid of */
        display: none;
    }

    #york-logo:after
	{
        /* Replace header images with the text */
        /* Since that's all the images are. */
        /* Saves bandwidth this way too. */
        content: var(--text-title);
    }

}

@-moz-document domain("w2prod.sis.yorku.ca") {

    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }

    body,
	.hfeed,
	#header-wrap,
	#navi-wrap,
	.container,
	.post,
	.postmeta,
	aside,
	#footer-widgets-bg,
	#footer-wrap,
	table,
	p,
	#yib11banner,
	td
	{
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6,
	div,
	time,
	.post,
	p,
	li,
	td,
	select,
	option,
	.timetablecell font *
	{
        color: var(--color-fg) !important;
    }

    a:link,
	a.blacklink
	{
        color: var(--color-fg-url) !important;
    }

    select
	{
        background-color: var(--color-bg-input);
    }

    img[src="/WebObjects/cdm.woa/Contents/WebServerResources/y.gif"],
    td.smallbodytext,
    td[valign="bottom"],
    td[background="https://w2prod.sis.yorku.ca/WebObjects/YorkUimages/banner_bg.gif"]
    {
        /* Elements to get rid of */
        display: none;
    }
    
    span[style="BACKGROUND-COLOR: YELLOW"]
	{
        /* For exam schedule ("Information valid as of ...") */
        background-color: var(--color-bg-alert) !important;
    }

    body
	{
        /* Gets rid of white bar on the right side */
        background-image: none;
    }

}

@-moz-document domain("yorku.zoom.us") {

    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
        
        --color-fg-button: black;
    }

    body, #content_container, .launch-section, .logo-bar, .custom-head, #zoom-ui-frame, #header {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, a, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }

    input {
        color: var(--color-fg-button) !important;
    }

    .https_form {
        background-color: var(--color-bg-input);
    }

    .navbar-collapse, .navbar {
        background-color: var(--color-bg-secondary) !important;
    }
}

@-moz-document domain("hrselfserve.yorku.ca") {

	/* TRT */
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }

    html,
	table,
	td,
	th,
	.tab_selected,
	#win0divTIMESHEET,
	.ps_box-scrollarea-row,
	.ps_pagecontainer
	{
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6,
	strong,
	label,
	.detDesc,
	div,
	div#sortby,
	.comment,
	#comments,
	#detailsouterframe *,
	.comment,
	#details *,
	dl *,
	span,
	input
	{
        /* Text color */
        color: var(--color-fg) !important;
    }

    a:link /* URLs */
	{
		/* URL color */
        color: lightblue !important;
    }

    .https_form
	{
        background-color: var(--color-bg-input);
    }

    .pst_panel-side1,
	.ps_ag-step-button,
	.psc_selected,
	.nuilp
	{
        background-color: var(--color-bg-secondary) !important;
    }

    span
	{
        background-color: transparent !important;
    }

    input
	{
        background-color: var(--color-bg-input) !important;
    }

    .PSPUSHBUTTON.Left
	{
        /* "Submit" and "Clear" buttons on Timesheet Reporting tab */
        border: none !important;
    }

    img[alt="COVID-19 Updates"]
	{
        /* Elements to get rid of */
        display: none;
    }

    #PSTABNBO a span
	{
        background-image: none !important;
    }

    #PSTABNBO a span,
	.PSPUSHBUTTON.Left
	{
        background: none;
    }

}

@-moz-document domain("yorku.ubixhealth.com") {

    /* YU Screen */
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #1e1e1e;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: red;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }

    .navbar,
	main,
	.card-body,
	.o-card-row,
	.navbar-nav /* Dropdown nav bar on mobile */
	{
        background-color: var(--color-bg) !important;
    }

    img[alt="logo"], .navbar-toggler {
        background-color: white;
    }

    b, /* Bolded text */
	p,
	div.card-title span,
	.card-text,
	label,
	span,
	.card-title, /* Title text */
	.o-result-status, /* Cleared or rejected at the end */
	.list-group *, /* List of buttons on the result page */
	.grid-item a div, /* Text on square buttons on dashboard */
	li.pagination-text /* Screening History page text */
	{
        color: var(--color-fg) !important;
    }

    .card-page {
        border: none;
    }

	form.form-signin {
		background-color: var(--color-bg);
	}

	.card,
	.list-group * /* List of buttons on the result page */
	{
		background-color: var(--color-bg-secondary) !important;
	}

	i.fas /* Icons such as home icon, left arrow, right arrow */
	{
		background-color: white;
	}

	i.fa-check-circle /* White icon */
	{
		/* Ignote white background color since it is a white icon */
		background-color: transparent;
	}
}

@-moz-document url-prefix("http://www.yorku.ca/nmw/datt1939f21/") {

	/* DATT 1939 2021F separate site */
    :root {
        --color-bg: #141414;
        --color-fg: #f8f8f8;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-bg-search: white;
    }

    html, body, p, li, ul, blockquote, table {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6,
	a,
	strong,
	label,
	.detDesc,
	div,
	div#sortby,
	.comment,
	#comments,
	#detailsouterframe *,
	#details *,
	dl *
	{
        /* Text color */
        color: var(--color-fg) !important;
    }

    input
	{
        /* Text inputs */
        color: var(--color-fg-button) !important;
        background-color: var(--color-bg-search);
    }

    a:link,
	h3 a
	{
        color: red !important;
    }

    a.navig
	{
        color: white !important; 
    }

}

@-moz-document url("https://passportyork.yorku.ca/ppylogin/ppylogin") {
    
    /* eClass */
    :root {
        --color-bg: #141414;              /* Default background color */
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-bg-url-visited: transparent;
		--color-bg-dropdown-hover: #202020;
        --color-fg: #f8f8f8;              /* Default text color */
        --color-fg-url: red;              /* Default URL foreground color */
        --color-fg-url-course: orange;    /* Foreground color for course URLs on homepage */
        --color-fg-danger: red;
        --color-fg-success: green;
        --color-nav: #141414;             /* Used to be: #2e2e2e */
        --dark-red: #7d0800;
        --font-all: monospace;              /* New main font to use */
        --font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

	div.app-title-bar .container h1,
	div.alert-info, /* Outage alerts at bottom of page */
	footer
	{
		padding: 10;
	}

	.page-header
	{
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.yapp-logo-container /* York header */
	{
		display: none;
	}

	.col-sm-6
	{
		display: contents;
	}

	footer,
	form
	{
		margin: 0px;
	}

	form[name="loginform"] div.row div.col-md-8 /* "Username" and "Password" blocks */
	{
		padding: 0px;
	}

	div.alert-warning
	{
		color: var(--color-fg);
	}

	.page-header /* Passport York paragraph with logo */
	{
		border: none;
		padding: 0;
	}

	div.col-md-8 p input
	{
		line-height: normal;
		width: 100%;
	}

	@media (min-width: 992px) {
		.col-md-4 /* "Username" and "Password" blocks */
		{
			width: unset;
		}
	}

	.alert
	{
		margin-bottom: 0px;
	}

}
