/* ==UserStyle==
@name           YorkU Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for York University websites`
@author         Me
==/UserStyle== */

@-moz-document domain("passportyork.yorku.ca"), domain("eclass.yorku.ca"), domain("webapp.eecs.yorku.ca") {

    :root {
        --color-bg-alert: #5c1717;
        --color-bg: #1f1f1f;
        --color-bg-input: #535353;
        --color-bg-url-hover: darkred;
        --color-bg-secondary: #201919;
        --color-bg-courselink: #2f2f2f;
        --color-fg: white;
        --color-fg-url: red;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }

    html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer, #region-main-box, .row, .dropdown-menu, .sectionhead, #nav-drawer, .list-group, ul, li, .list-group-item, .bg-light, .page-link, .card-block, .collapse, .region_main_settings_menu_proxy {
        background-color: var(--color-bg) !important;
    }

    html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer, #region-main-box, .row, h1, h2, h3, h4, h5, h6, .card-title, .text-muted, .dropdown-toggle, .logininfo, .eris_search_library, a, td, pre, select, textarea {
        color: var(--color-fg) !important;
    }
    
    #york-logo, .eris_search_library, table, table > *  {
        background-color: var(--color-bg-secondary);
    }

    .app-title-bar {
        background-color: var(--dark-red);
    }

    a:link {
        color: var(--color-fg-url) !important;
    }
    
    a:active, a:hover {
        background-color: var(--color-bg-url-hover) !important;
    }
    
    a:visited {
        background-color: transparent !important;
    }

    .alert, .alert-info, .alert * {
        background-color: var(--color-bg-alert) !important;
        border: 0px;
    }

    .course-info-container {
        background-color: var(--color-bg-courselink) !important;
    }

    .block_slideshow, #card-widgetmenu, #ycrest, .watson-btn-container { 
        /* Elements to get rid of*/
        display: none;
    }
    
    .bg-white, .nav-link, .d-inline-block, [aria-controls="nav-drawer"], #page-footer {
        /* Navigation Bar */
        background-color: var(--color-nav) !important;
    }
    
    .sectionhead {
        border: white 1px solid;
    }
    
    select, textarea {
        /* Input boxes */
        background-color: var(--color-bg-input) !important;
    }

}

@-moz-document domain("yfile.news.yorku.ca") {
    :root {
        --color-bg: #222629;
        --color-fg: white;
        --color-fg-secondary: #eeeeee;
        --button-text-color: black;
        --table-background-color: #31363a;
        --table-hover-color: #222222;
        --transparent-color: transparent;
        --search-bar-color: white;
        --text-title: 'York University - YFile';
    }
    
    aside, #footer-widgets-bg, #footer-wrap, #header-wrap, #navi-wrap, .hfeed, .container, .post, .postmeta {
        background-color: var(--color-bg) !important;
    }
    
    h1, h2, h3, h4, h5, h6, div, time, .post {
        color: var(--color-fg) !important;
    }
    
    aside, article {
        border: none !important;
    }
    
    #york-logo a img, #logo {
        display: none;
    }
    
    #york-logo:after {
        /* Replace header images with the text */
        /* Since that's all the images are. */
        /* Saves bandwidth this way too. */
        content: var(--text-title);
    }
    
    
       
}

@-moz-document domain("w2prod.sis.yorku.ca") {
    :root {
        --color-bg: #222629;
        --color-fg: white;
        --color-fg-secondary: #eeeeee;
        --color-link: #76bfff;
        --button-text-color: black;
        --table-background-color: #31363a;
        --table-hover-color: #222222;
        --transparent-color: transparent;
        --search-bar-color: white;
        --color-bg-input: #232222;
        --color-fg-input: white;
    }
    
    .hfeed, #header-wrap, #navi-wrap, .container, .post, .postmeta, aside, #footer-widgets-bg, #footer-wrap, table, p, #yib11banner, td {
        background-color: var(--color-bg) !important;
    }
    
    h1, h2, h3, h4, h5, h6, div, time, .post, p, li, td, select {
        color: var(--color-fg) !important;
    }
    a:link {
        color: var(--color-link) !important;
    }
    
    select {
        background-color: var(--color-bg-input);
    }
    
    option {
        color: var(--color-fg-input) !important;
    }
    
    img[src="/WebObjects/cdm.woa/Contents/WebServerResources/y.gif"], td.smallbodytext, td[valign="bottom"], td[background="https://w2prod.sis.yorku.ca/WebObjects/YorkUimages/banner_bg.gif"]{
        display: none;
    }
    
}

@-moz-document domain("yorku.zoom.us") {
    :root {
        --color-bg: #222629;
        --color-bg-secondary: #201919;
        --color-fg: white;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-transparent: transparent;
        --color-bg-search: white;
    }
    
    body, #content_container, .launch-section, .logo-bar, .custom-head, #zoom-ui-frame, #header {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, a, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }

    input {
        color: var(--color-fg-button) !important;
    }

    .https_form {
        background-color: var(--search-bar-color);
    }
    
    .navbar-collapse, .navbar {
        background-color: var(--color-bg-secondary) !important;
    }
}

