/* ==UserStyle==
@name           GitHub Dark Theme
@version        1.0.2
@author         Hussein Esmail
@description    `A dark theme template for Github`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_github.user.css
==/UserStyle== */

@-moz-document domain("github.com") {
    
    :root {
        --color-bg: #141414;            /* Default background color */
        --color-fg: #f8f8f8;            /* Default text color */
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
		--font-all: monospace;						/* New main font to use */
		--font-all-spacing: -1px; /* New main font spacing (if it needs to be altered) */
        --table-hover-color: #222222;
        --color-bg-search: white;
		--space-sidebar-repo: 5px; /* Space between top and bottom in repo */
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html,
	body,
	div:not(.Box-row--focus-gray *, .Box-row--focus-gray), /* So files can be focused on repo page */
	p,
	li,
	ul,
	header,
	.color-bg-default /* README.md header */
	{
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }

    input {
        /* Text inputs */
        color: var(--color-fg);
        background-color: var(--color-bg-search);
    }

	*:not(i) {
		font-family: var(--font-all);
		letter-spacing: var(--font-all-spacing);
	}

	.BorderGrid--spacious .BorderGrid-cell {
		/* Right bar spacing on a repo (About, Releases, etc.) */
		padding-top: var(--space-sidebar-repo);
		padding-bottom: var(--space-sidebar-repo);
	}

	.UnderlineNav-item {
		/* Repo tabs spacing (Code, Issues, PRs, Actions, etc.) */
		padding: 0px;
		padding-right: 5px;
		padding-left: 5px;
	}

	/* .Box-row--focus-gray {
		background-color: #1f1f1f !important;
	} */

	ul.UnderlineNav-body {
		margin: auto !important;
	}
	
	span.v-align-middle:contains("Public") {
		display: none !important;
	}

	/* This block makes the header bar as wide as the content and now window width */
	/*[[leftcolumn]]*/
	/*[[header]]*/
	/*[[notificationscreen]]*/
	/*[[commitwidth]]*/
	/*[[filebrowserwidth]]*/
}

