/* ==UserStyle==
@name           Pirate Bay Dark 
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for the Piratebay websites`
@author         Hussein Esmail
==/UserStyle== */

@-moz-document regexp(".+piratebay*.*"), domain("tpb.party") {
    :root {
        --color-bg: #1f1f1f;
        --color-fg: #f8f8f8;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --transparent-color: transparent;
        --search-bar-color: white;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html {
        background-color: var(--color-bg);
    }

    div#detailsframe *, head, body, footer, h2, table#searchResult th, table#searchResult td, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details * {
        background-color: transparent !important;
    }

    a, strong, label, h2, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl *, table#searchResult tr, table#searchResult tr.alt {
        color: var(--color-fg) !important;
        /* border-width: 0; */
    }

    input {
        color: var(--color-fg-button) !important;
    }

    .https_form {
        background-color: var(--search-bar-color);
    }

    table#searchResult tr, table#searchResult tr.alt {
        background: var(--color-bg-table);
    }

    table#searchResult tr:hover {
        background: var(--table-hover-color);
    }

    .nfo {
        font-size: large;
    }

    a[title^='Get this torrent'] {
        font-size: x-large;
    }

}