/* ==UserStyle==
@name           Libgen Dark
@author         Hussein Esmail
@version        1.0.0
@description    `A dark theme for the Libgen websites`
@namespace      https://github.com/hussein-esmail7/userstyles
==/UserStyle== */

@-moz-document domain("libgen.is"), domain("library.lol") {
    :root {
        --color-bg: #141414;
        --color-fg: #f8f8f8;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-bg-search: black;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    body, #menu, .drop {
        /* Background colour */
        background-color: var(--color-bg);
        color: var(--color-fg) !important;
    }

    .c, tr[valign="top"] {
        /* Text colour */
        background-color: var(--table-color) !important;
        color: var(--color-fg);
    }

    a:link, h1 {
        /* URL colour */
        color: var(--url-color) !important;
    }

    a:visited {
        color: var(--url-visited-color);
    }

    i, font[size="1"] {
        color: var(--color-fg);
    }

    sup, a[href="../setlang.php?lang=ru"] {
        /* Elements to hide */
        display: none;
        size: 0;
    }
}