/* ==UserStyle==
@name           zippyshare.com Dark Simplified
@version        1.0.2
@author         Hussein Esmail
@description    `A dark theme for the website zippyshare.com and reduced fluff`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_zippyshare.user.css
==/UserStyle== */

@-moz-document domain("zippyshare.com") {
    :root {
        --color-bg: #141414;    /* Default background color */
        --color-fg: white;      /* Default text color */
        color-scheme: dark;       /* Used to get dark scroll bars */
    }

    html, .inner_menu, a:link, span, td, font, a {
        background-color: var(--color-bg) !important;
        color: var(--color-fg) !important;
    }

    .logo, .slickbox, .center_ad, #qrCode {
        display: none !important;
        overflow: hidden !important;
        width: 0 !important;
        height: 0 !important;
        border-radius: 0px !important;
        padding: 0px !important;
    }
    .outer_menu, .inner_menu, .inner_main, .outer_main {
        border-radius: 0px !important;
        padding: 0px !important;
    }
}