/* ==UserStyle==
@name           Medium Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme for the website Medium.com`
@author         Hussein Esmail
==/UserStyle== */

:root {
    --background-color: black;
    --text-color: white;
}

@-moz-document domain("medium.com") {
    
    .meteredContent, div {
        background-color: var(--background-color) !important; 
    }
    
    p, h1, h2, h3, h4, h5, h6, a:link, button {
       color: var(--text-color) !important; 
    }
    
    div.uq {
        display: none;
    }
}