/* ==UserStyle==
@name           fora.snahp.eu Dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Hussein Esmail
==/UserStyle== */

/* This themw works best when the site theme is set to "Digi Orange" */
@-moz-document domain("fora.snahp.eu") {
    :root {
        --color-bg: #1a1a1a;
        --color-fg: white;
        --color-fg-secondary: #eeeeee;
        --color-fg-unread: orange;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-transparent: transparent;
        --color-bg-search: white;
        --color-fg-border: white;
        --font-all: monospace;
        --max-width: 800px;
        
    }

    html, body, #content, dl, li, ul, .nav-tabs, .navlinks, .post .inner, .bg1, .post {
        /* Background color */
        background-color: var(--color-bg) !important;
        background-image: none; /* Clears background image */
        border: none !important;
        box-shadow: none !important;
        max-width: var(--max-width);
        margin: auto;

    }
    
    li {
        background: none !important;
    }
    
    .forabg, .forumbg, .navbar, .post .inner {
        border: none;
        padding: 0;
        margin: 0 !important;
    }
    
    h1, h2, h3, h4, h5, h6, p, #security_code {
        /* Text color */
        color: var(--color-fg) !important;
    }

    dt[title="Unread posts"] div.list-inner a {
        /* Unread items color */
        color: var(--color-fg-unread);
    }
    
    dd.topics, dd.views {
        float: right !important;
    }
    
    .forums li .row-item dd.topics, dd.views {
        text-align: right;
    }
    
    img.mega_icon, img.gdrive_icon {
        height: 17px !important;
    }
    
    ul.topiclist dl .list-inner {
        margin-right: 200px !important;
    }
    
    .list-inner .pagination {
        margin-right: -150px;
    }
    
    .postprofile .avatar img {
        max-height: 80px !important;
        width: auto;
    }
    
    dd.posts, dd.lastpost, i.icon-red, span.open, a[title="Donate to Snahp"], .rx_spotlight, .online-list, .birthday-list, a.read i, dd.profile-rank img, .user-flair__badge-image, .user-flair__expand-symbol, .user-flair__linked-image-badge, .profile-posts, dd.profile-joined {
        /* Items to get rid of */
        /* TODO: Speech bubble images on left side */
        display: none !important;
    }
    
}
