/* ==UserStyle==
@name           YorkU Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.1
@description    `A dark theme for York University websites`
@author         Hussein Esmail
==/UserStyle== */

/* From eClass area
:root {
    --color-alert: red;
    --color-bg: #1f1f1f;
    --color-bg-secondary: #201919;
    --color-fg: white;
    --color-nav: #2e2e2e;
    --background-course-links: #2f2f2f;
    --dark-red: #7d0800;
    --color-url: red;
} */

@-moz-document domain("passportyork.yorku.ca"), domain("eclass.yorku.ca"), domain("webapp.eecs.yorku.ca") {
    
    /* eClass */
    
    :root {
        --color-bg: #141414;              /* Default background color */
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;              /* Default text color */
        --color-fg-url: red;              /* Default URL foreground color */
        --color-fg-url-course: orange;    /* Foreground color for course URLs on homepage */
        --color-nav: #141414;             /* Used to be: #2e2e2e */
        --dark-red: #7d0800;
        --font-all: monospace;              /* New main font to use */
    }

    html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer, #region-main-box, .row, .dropdown-menu, .sectionhead, #nav-drawer, .list-group, ul, li, .list-group-item, .bg-light, .page-link, .card-block, .collapse, .region_main_settings_menu_proxy, div[id^="moodle-dialogue-yui"], th, td, div#tabs, .mod_turnitintooltwo .ui-widget-header, .mod_turnitintooltwo_submissions_data_table .odd .sorting_1, #page, div.card.login, .ps_box-group, .fp-navbar, .filemanager-container, .calendar_event_course {
        background-color: var(--color-bg) !important;
        
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .mod_turnitintooltwo_listbar, .mod_turnitintooltwo_refresh_link {
        background: none !important;
    }
    
    .ui-corner-all {
        border-radius: 0px !important;
    }
    
    .mod_turnitintooltwo_listbar, .block_online_users, .block_yu_messager, .dashboard-card-img, header#page-header div .card  {
        /* Borders to get rid of */
        border: none !important;
    }
    html, body, p, #page-wrapper, .block-region, #region-main, .card-body, .pt-3, .card-footer, #region-main-box, .row, h1, h2, h3, h4, h5, h6, .card-title, .text-muted, .dropdown-toggle, .logininfo, .eris_search_library, a, td, pre, select, textarea, .ablock div div span, th, div.mod_turnitintooltwo_refresh_link {
        color: var(--color-fg) !important;
    }
    
    #york-logo, .eris_search_library, table, table > *  {
        background-color: var(--color-bg-secondary);
    }

    .app-title-bar {
        background-color: var(--dark-red);
    }

    a:link {
        color: var(--color-fg-url) !important;
    }
    
    a:active, a:hover {
        background-color: var(--color-bg-url-hover) !important;
    }
    
    a:visited {
        background-color: transparent !important;
    }

    .alert, .alert-info, .alert * {
        background-color: var(--color-bg-alert) !important;
        border: 0px;
    }

    .course-info-container {
        background-color: var(--color-bg-courselink) !important;
    }

    .block_slideshow,           /* Slideshow at top of homescreen */
    #card-widgetmenu, 
    #ycrest, 
    .watson-btn-container,      /* Ask Savy button */
    .feedback div p, 
    .feedback div div div div br, 
    .feedback div div br, 
    .block_yu_messager, 
    .dashboard-card-img,        /* Image for each course on homescreen */
    #instance-222305-header, 
    .block_badges,              /* Badges block on homescreen */
    .block_calendar_month,      /* Calendar block on homescreen */
    .dashboard-card-footer,     /* Progress bars below courses */
    .block_important_links,     /* Links section I never use */
    .block_library              /* Library search block */
    { 
        /* Elements to get rid of */
        display: none;
    }
    
    .bg-white, 
    .nav-link,                      /* Language dropdown on left */
    [aria-controls="nav-drawer"], 
    #page-footer,
    button.btn.nav-link,            /* Nav button on left side */
    ul.navbar-nav,                  /* Buttons beside profile menu */
    .usermenu                       /* Profile menu on right */
    {
        /* Navigation Bar */
        background-color: var(--color-nav) !important;
    }
    
    .sectionhead {
        border: white 1px solid;
    }
    
    select, textarea {
        /* Input boxes */
        background-color: var(--color-bg-input) !important;
    }
    
    .formulation, .info, .qtext p, .qtext div div div p, .ablock div div div div div div div p {
        background-color: var(--color-bg-panel) !important;
    }
    i.text-success {
        background-color: green !important;
    }
    i.text-danger {
        background-color: red !important;
    }
    
    div.mod_turnitintooltwo_refresh_link {
        border: 1px solid white;
    }
    
    div.col.span_1_of_4.mobile_full *, .york-global-footer-links {
        background-color: var(--dark-red) !important;
    }
    
    div.card-text .info {
        background-color: inherit !important; 
    }
    
    header#page-header div .card {
        height: 50px;
    }
    
    .block_myoverview .paged-content-page-container {
        min-height: 5rem;
    }
    
    .block_myoverview .content {
        min-height: 10rem;
    }
    
    div.menubar {
        background-color: inherit !important;
    }
    
    .calendar_event_course {
        border-color: inherit !important;
    }
    
    nav[role="navigation"] {
        display: block !important;
    }
    
    @media (min-width: 1200px) {
        #region-main.has-blocks .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
            /* Homepage courses list as list not blocks */
            width: inherit;
        }
    }
    
    .dashboard-card, .course-info-container {
        background-color: inherit !important;
    }
    
    .dashboard-card, .course-info-container,
    .block_timeline,
    .block_myoverview,
    .block_calendar_upcoming
    
    {
        border: none;
    }
    
    .coursename, 
    .course-info-container .align-items-start .text-truncate .coursename 
    {
        /* Change colour of course URLs specifically */
        color: var(--color-fg-url-course) !important;
    }
    
    .coursename:hover, a:hover {
        /* Do not show red background when hovering a URL */
        background-color: inherit !important;
    }
    
    *:not(i) {
        /* Monospace everything except symbols (i tag) */
        /* i tags are used for images, and emojis, which this font doesn't have */
        font-family: var(--font-all) !important;
    }
    
    .block .block-cards .course-info-container,
    .block_online_users div div,
    .block_online_users .p-3 {
        /* Reduce the empty space border around each course on homepage */
        padding: 0;
        margin: 0 !important;
    }
    
    
    @media (min-width: 576px) {
        .card-deck {
            /* Make each option button for each course on homepage on right side */
            flex-direction: column !important;
        }
    }
    
    small {
        /* Default = 80%, looks too small (some profs put entire paragraphs in this) */
        font-size: 90%;
    }
    
    .sectionname span a {
        /* These URLs link to themselves, which is a bit pointless */
        color: var(--color-fg) !important;
    }
}

@-moz-document domain("yfile.news.yorku.ca") {
    
    /* YFile */
    
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: red;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
        
        --text-title: 'York University - YFile';
    }

    aside, #footer-widgets-bg, #footer-wrap, #header-wrap, #navi-wrap, .hfeed, .container, .post, .postmeta {
        background-color: var(--color-bg) !important;
    }
    
    h1, h2, h3, h4, h5, h6, div, time, .post {
        color: var(--color-fg) !important;
    }
    
    aside, article {
        /* Borders to get rid of */
        border: none !important;
    }
    
    #york-logo a img, #logo {
        /* Elements to get rid of */
        display: none;
    }
    
    #york-logo:after {
        /* Replace header images with the text */
        /* Since that's all the images are. */
        /* Saves bandwidth this way too. */
        content: var(--text-title);
    }
       
}

@-moz-document domain("w2prod.sis.yorku.ca") {
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }

    body, .hfeed, #header-wrap, #navi-wrap, .container, .post, .postmeta, aside, #footer-widgets-bg, #footer-wrap, table, p, #yib11banner, td {
        background-color: var(--color-bg) !important;
    }
    
    h1, h2, h3, h4, h5, h6, div, time, .post, p, li, td, select, option {
        color: var(--color-fg) !important;
    }
    a:link {
        color: var(--color-fg-url) !important;
    }
    
    select {
        background-color: var(--color-bg-input);
    }
    
    img[src="/WebObjects/cdm.woa/Contents/WebServerResources/y.gif"], td.smallbodytext, td[valign="bottom"], td[background="https://w2prod.sis.yorku.ca/WebObjects/YorkUimages/banner_bg.gif"]{
        /* Elements to get rid of */
        display: none;
    }
    
    span[style="BACKGROUND-COLOR: YELLOW"] {
        /* For exam schedule ("Information valid as of ...") */
        background-color: var(--color-bg-alert) !important;
    }
    body {
        /* Gets rid of white bar on the right side */
        background-image: none;
    }
    
}

@-moz-document domain("yorku.zoom.us") {
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
        
        --color-fg-button: black;
    }

    body, #content_container, .launch-section, .logo-bar, .custom-head, #zoom-ui-frame, #header {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, a, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }

    input {
        color: var(--color-fg-button) !important;
    }

    .https_form {
        background-color: var(--color-bg-input);
    }
    
    .navbar-collapse, .navbar {
        background-color: var(--color-bg-secondary) !important;
    }
}

@-moz-document domain("hrselfserve.yorku.ca") {
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: #76bfff;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }
    
    html, table, td, th, .tab_selected, #win0divTIMESHEET,  .ps_box-scrollarea-row, .ps_pagecontainer {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl *, span, input {
        /* Text color */
        color: var(--color-fg) !important;
    }
    
    a:link {
        color: lightblue !important;
    }

    .https_form {
        background-color: var(--color-bg-input);
    }
    
    .pst_panel-side1, .ps_ag-step-button, .psc_selected, .nuilp {
        background-color: var(--color-bg-secondary) !important;
    }
    
    span {
        background-color: transparent !important;
    }
    
    input {
        background-color: var(--color-bg-input) !important;
    }
    
    .PSPUSHBUTTON.Left {
        /* "Submit" and "Clear" buttons on Timesheet Reporting tab */
        border: none !important;
    }
    
    img[alt="COVID-19 Updates"] {
        /* Elements to get rid of */
        display: none;
    }
    
    #PSTABNBO a span {
        background-image: none !important;
    }

    #PSTABNBO a span, .PSPUSHBUTTON.Left {
        background: none;
    }   
}


@-moz-document domain(yorku.ubixhealth.com) {
    
    /* YU Screen */
    :root {
        --color-bg: #141414;
        --color-bg-alert: #5c1717;
        --color-bg-courselink: #2f2f2f;
        --color-bg-input: #535353;
        --color-bg-panel: #222629;
        --color-bg-secondary: #201919;
        --color-bg-url-hover: darkred;
        --color-fg: #f8f8f8;
        --color-fg-url: red;
        --color-nav: #2e2e2e;
        --dark-red: #7d0800;
    }
    
    .navbar, main, .card-body, .o-card-row {
        background-color: var(--color-bg) !important;
    }
    
    img[alt="logo"], .navbar-toggler {
        background-color: white;
    }
    
    p, div.card-title span, .card-text, label {
        color: var(--color-fg) !important;
    }
    
    .card-page {
        border: none;
    }
}