/* ==UserStyle==
@name           Libgen Dark
@author         Hussein Esmail
@version        1.0.0
@description    `A dark theme for the Libgen websites`
@namespace      https://github.com/hussein-esmail7/userstyles
==/UserStyle== */

@-moz-document domain("libgen.is"), domain("library.lol") {
    :root {
        --background-color: #222629;
        --text-color: white;
        --text-color-seconday: #eeeeee;
        --button-text-color: black;
        --table-background-color: #31363a;
        --table-hover-color: #222222;
        --transparent-color: transparent;
        --search-bar-color: #000;
    }
    
    body, #menu, .drop {
        background-color: var(--background-color);
        color: var(--text-color) !important;
    }
    .c, tr[valign="top"] {
        background-color: var(--table-color) !important;
        color: var(--text-color);
    }
    a:link, h1 {
        color: var(--url-color) !important;
    }
    a:visited {
        color: var(--url-visited-color);
    }
    i, font[size="1"] {
        color: var(--text-color);
    }
    sup, a[href="../setlang.php?lang=ru"] {
        display: none;
        size: 0;
    }
}