/* ==UserStyle==
@name           fora.snahp.eu Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.1
@description    `Simplified dark theme`
@author         Hussein Esmail
==/UserStyle== */

/*                      █                  / dark_snahp.user.css
 *  ▄▄▄   ▄ ▄▄    ▄▄▄   █ ▄▄   ▄▄▄▄       / Works best with "Digi Orange" theme
 * █   ▀  █▀  █  ▀   █  █▀  █  █▀ ▀█     / Install with the "Stylish" extension
 *  ▀▀▀▄  █   █  ▄▀▀▀█  █   █  █   █    /
 * ▀▄▄▄▀  █   █  ▀▄▄▀█  █   █  ██▄█▀   /
 *                             █      / https://husseinesmail.xyz
 *                             ▀     / https://github.com/hussein-esmail7/userstyles
*/

@-moz-document domain("fora.snahp.eu") {
    :root {
        --color-bg: #141414;					   /* Main background color */
        --color-bg-hidebox: orange;  /* Bg for "Please click _ to show" div */
        --color-fg: #f8f8f8;						  /* Default text color */
        --color-fg-unread: orange;					  /* Unread posts color */
        --color-fg-replace: #0080FF; /* For the badly formatted hard-coded colors out there */
        --max-width: 800px;					 /* Max width, centered on page */
        --font-default: Verdana, Helvetica, Arial, sans-serif;
        --font-all: monospace;						/* New main font to use */
        --font-all-spacing: -1px; /* New main font spacing (if it needs to be altered) */
        --all-location: auto; /* 'auto' for centered, 'none' for all to left side */
        --height-profile-pic: 80px;		 /* Max height for profile pictures */
        --col-text-align-views: right;		 /* Align number column to side */
        --margin-right-topic-list: 200px;
        --margin-right-thread-pages: -150px;
    }

    @media (max-width: 700px) {
        /* Mobile changes */
        :root {
            /* Variable changes for mobile */
            --margin-right-topic-list: 20px;
            --margin-right-thread-pages: 0px;
        }
        
        /* New items for mobile only */
        
        ul[role="menubar"] .search-box.responsive-hide {
            /* Show search bar for the whole forum */
            display: block !important;
        }
        
        ul[role="menubar"] .search-box.responsive-hide div form fieldset {
            /* Make search bar wider so user can see it */
            width: calc(100% / 0.75)
        }
    }
    
    *:not(i) {
        /* Monospace everything except symbols (i tag) */
        font-family: var(--font-all) !important;
        letter-spacing: var(--font-all-spacing);
    }
    
    #content, 
    .bg1, 
    .nav-tabs, 
    .navlinks, 
    .post .inner, 
    .post,
    body, 
    dl, 
    form div,
    html, 
    li, 
    ul {
        /* Background color */
        background-color: var(--color-bg) !important;
        background-image: none;					 /* Clears background image */
        border: none !important;
        box-shadow: none !important;
        max-width: var(--max-width);
        margin: var(--all-location);
    }
    
    .username-coloured,
	div.codebox * {
        /* Items not to monospace */
        font-family: var(--font-default) !important;
        letter-spacing: normal;
    }
    
    li {
        /* Get rid of border style on right side of table headers */
        background: none !important;
    }
    
    span[style="color:#0000BF"] {
        /* Get rid of hardcoded items (an HTML no-no) */
        /* These also looked bad */
        color: var(--color-fg-replace) !important;
    }
    
    .forabg, 
    .forumbg, 
    .navbar, 
    .post .inner {
        /* Get rid of grey borders on tables, posts, and nav bars */
        border: none;
        padding: 0;
        margin: 0 !important;
    }
    
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p {
        /* Text color */
        color: var(--color-fg) !important;
    }

    dt[title="Unread posts"] div.list-inner a {
        /* Unread items color */
        color: var(--color-fg-unread);
    }

    dd.topics, 
    dd.views {
        /* Must be here or else the Views column would be positioned badly */
        float: right !important;
    }

    .forums li .row-item dd.topics, 
    dd.views {
        text-align: var(--col-text-align-views);
    }

    img.mega_icon, img.gdrive_icon {
        height: 17px !important;
    }

    ul.topiclist dl .list-inner {
        margin-right: var(--margin-right-topic-list) !important;
    }

    .list-inner .pagination {
        margin-right: var(--margin-right-thread-pages);
    }

    .postprofile .avatar img {
        max-height: var(--height-profile-pic) !important;
        width: auto;
    }

    .hidebox.hi {
        /* Bg color for "Please click _ to show" div */
        background-color: var(--color-bg-hidebox) !important;
    }

    a:link:hover {
        color: var(--color-url);
        text-decoration: underline;
    }  

    div.list-inner {
        margin: 0px !important;
        padding: 0px !important;
        text-align: left !important;
    } 

    li.header dt .list-inner {
        text-indent: 0px !important;
    }

    .announce_read,
    .announce_read_locked,
    .announce_read_locked_mine,
    .announce_read_mine,
    .announce_unread,
    .announce_unread_locked,
    .announce_unread_locked_mine,
    .announce_unread_mine,
	.forum_link,
    .forum_read, 
    .forum_read_locked, 
    .forum_read_subforum, 
    .forum_unread, 
	.forum_unread_locked,
    .forum_unread_subforum, 
    .global_read,
    .global_read_locked,
    .global_read_locked_mine,
    .global_read_mine,
    .global_unread,
	.global_unread_locked,
	.global_unread_locked_mine,
    .global_unread_mine,
    .pm_read, 
    .pm_unread, 
    .sticky_read, 
    .sticky_read_mine,
    .sticky_unread, 
    .topic_read, 
    .topic_read_mine,
    .topic_unread {
        /* Get rid of the speech bubble images on the left */
        /* Text color is a good indication for me of what's unread */
        background-image: none !important; 
    }

    dd.posts, 
    dd.lastpost, 
    i.icon-red, 
    span.open, 
    dd.profile-joined,
    a[title^="Donate"],
    a.read i, 
    dd.profile-rank img,
    .rx_spotlight,
    .online-list,                       
    .birthday-list,					/* I don't know these people. Sorry! :( */
    .user-flair__badge-image,
    .user-flair__expand-symbol,
    .user-flair__linked-image-badge,
    .profile-posts,
    .fa-home						 /* Home icon beside "Board Index" link */
	{
        /* Items to get rid of to make things nicer */
        display: none !important;
    }
    
    /* Other Improvements I Would Do ==================================
    - Reduce the width of the textarea when using the full reply editor.
		But that's a hardcoded thing that I don't think I can change
    */

}
