/* ==UserStyle==
@name           Bibliogram Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.0
@description    `A dark theme template for bibliogram.art`
@author         Hussein Esmail
==/UserStyle== */

@-moz-document domain("bibliogram.art"), domain("bibliogram.snopyta.org"), domain("bibliogram.pussthecat.org"), domain("bibliogram.nixnet.services"), domain("bibliogram.ethibox.fr"), domain("insta.trom.tf"), domain("bibliogram.hamster.dance"), domain("bib.actionsack.com") { 
    :root {
        --color-bg: #141414;
        --color-bg-button: #222222;
        --color-fg: #f8f8f8;
        --color-bg-banner: grey;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html, body, .timeline-section, header, .about-container, .notice, span, .relative-box, .user-header {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6, a, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }
    
    .selector {
        background-color: var(--color-bg-button) !important;
    }
    
    .banner-image {
        /* Background color of the image on the homepage */
        background-color: var(--color-bg-banner);
    }
}
