/* ==UserStyle==
@name           Indeed.com Dark
@version        1.0.1
@author         Hussein Esmail
@description    `A dark theme for the website https://indeed.com`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_indeed.user.css
==/UserStyle== */

@-moz-document url-prefix("indeed.com") url-prefix("ca.indeed.com") {
    :root {
        --color-bg: #141414;            /* Default background color */
        --color-fg: #f8f8f8;            /* Default text color */
        --color-bg-secondary: grey;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html, li, .icl-Ratings, .icl-NavigableContainer,  .icl-NavigableContainer--hasBorderBottom, .icl-NavigableContainer--hasBorderTop, .icl-NavigableContainer-linkWrapper, .icl-Ratings-description {
        background-color: var(--color-bg);
        color: var(--color-fg);
    }

    .icl-GlobalFooter-link, a:link, .icl-GlobalFooter-item, .jobsearch-JobMetadataFooter, h1, .jobsearch-JobInfoHeader-title-container, .jobsearch-DesktopStickyContainer-subtitle {
        background-color: var(--color-bg-secondary);
        color: var(--link-color) !important;
    }

}
