/* ==UserStyle==
@name           Medium Dark
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.1
@description    `A dark theme for the website Medium.com`
@author         Hussein Esmail
==/UserStyle== */

@-moz-document domain("medium.com") {
    :root {
        --color-bg: #141414;
        --color-fg: #f8f8f8;
    }

    .meteredContent, div {
        /* Background color */
        background-color: var(--color-bg) !important; 
    }
    
    p, h1, h2, h3, h4, h5, h6, a:link, button {
        /* Text color */
       color: var(--color-fg) !important; 
    }
    
    div.uq {
        display: none;
    }
}