/* ==UserStyle==
@name           Pinterest Dark
@version        1.0.3
@author         Hussein Esmail
@description    `A dark theme template for Pinterest`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_pinterest.user.css
==/UserStyle== */



@-moz-document domain("pinterest.ca") {

    :root {
        --color-bg: #141414;            /* Default background color */
        --color-fg: #f8f8f8;            /* Default text color */
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-transparent: transparent;
        --color-bg-search: white;
        --search-bar-color: blue;
        color-scheme: dark;                 /* Used to get dark scroll bars */

        /* To implement */
        --max-width: 800px;					 /* Max width, centered on page */
        --all-location: auto; /* 'auto' for centered, 'none' for all to left side */
    }

    html,
    div[data-test-id="header-background"],
    div[aria-label="Choose board"] div div,
    div[data-test-id="visual-content-container"],
    div[data-test-id="description-content-container"],
    .qiB .a3i,
    div[role="list"],
    div[data-test-id="related-modules-header"] div
    {
        /* Background color */
        background-color: var(--color-bg) !important;
    }

    h1, h2, h3, h4, h5, h6,
    a,
    strong,
    label,
    .detDesc,
    div,
    div#sortby,
    .comment,
    #comments,
    #detailsouterframe *,
    #details *,
    dl *,
    span
    {
        /* Text color */
        color: var(--color-fg) !important;
    }

    svg[aria-label="secret board"],
    svg[aria-label="board with sections"]
    {
        color: white;
    }

    /* Highlight when a pin is sponsored by emphasizing the "Promoted by" text */
    div[title="Promoted by"]
    {
        background-color: red !important;
    }

	.gpV
	{
		/* Main button colour */
		background-color: #1e1e1e;
	}
    img
    {
        background-color: transparent !important;
    }

    button.BackButtonHideShadow /* Show where the back button is more prominently */
    {
        background-color: white !important;
    }

	div.zI7.iyn.Hsu div.jzS.ujU.un8.TB_, /* Caption and comments of a pin */
    div.F6l.Jea.gjz.k1A.zI7.iyn.Hsu, /* Author of a pin on a sprcific pin page */
    /* Sponsored pins to hide + other stuff */
    div[data-test-id="one-tap-desktop"], /* Pins that link directly to a site (ads) */
    div[data-test-id="triedItCommentTabs"], /* Comments section of pins */
    div[data-test-id="tries-images"] /* Related images preview from pin (4 small squares beside photo) */
    {
        display: none !important;
    }

}
