/* ==UserStyle==
@name           AUR Dark Theme
@version        1.0.0
@author         Hussein Esmail
@description    `A dark theme template for AUR`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_aur.user.css
==/UserStyle== */

@-moz-document domain("aur.archlinux.org") {
    
    :root {
        --color-bg: #141414;            /* Default background color */
        --color-fg: #f8f8f8;            /* Default text color */
        --color-fg-secondary: #eeeeee;
		--color-bg-secondary: grey;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-bg-search: white;
		--color-fg-url: blue;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    html, body, div, p, li, ul {
        /* Background color */
        background-color: var(--color-bg) !important;
        background: none !important;
    }

    h1, h2, h3, h4, h5, h6, strong, label, .detDesc, div, div#sortby, .comment, #comments, #detailsouterframe *, .comment, #details *, dl * {
        /* Text color */
        color: var(--color-fg) !important;
    }

    input {
        /* Text inputs */
        color: var(--color-fg-button) !important;
        background-color: var(--color-bg-search);
    }

	code,
	pre
	{
		background: var(--color-bg-secondary);
	}

}

