/* ==UserStyle==
@name           Toronto Public Library Dark
@version        1.0.3
@author         Hussein Esmail
@description    `A dark theme for the website torontopubliclibrary.ca`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/dark_tpl.user.css
==/UserStyle== */

@-moz-document domain("torontopubliclibrary.ca") {
    :root {
        --color-bg: #141414;            /* Default background color */
        --color-fg: #f8f8f8;            /* Default text color */
        --color-bg-item-focus: #1e1e1e;
        --color-bg-alert: darkred;
        --color-fg-url: lightblue;
        color-scheme: dark;                 /* Used to get dark scroll bars */
    }

    body,
    .SearchBox,
    .logon,
    #form_signin,
    .container,
    .action-bar,
    td,
    .panel,
    .menu-item,
    section,
    [class^="components-pages"],
    [class^="components-Save"],
    [class^="components-ItemButton"],
    th,
    .copyright,
    .add-new-list,
    .page-content,
    div.notice,
    .megamenu,
    .megamenu-column,
	.primary-row, /* "Hold placed" page background */
	.place-hold-confirmation .record-details, /* "Hold placed" main panel */
	.form-submission-response, /* "Hold placed" main panel 2 */
	.record-details,
	.form-place-hold,
	.ac .auth-panel, /* Login panel */
	.masthead-container, /* Header */
	#header-bottom-container, /* Menu bar below header */
	#syn_summary .syn_body, /* Synopsis for a specific book page */
	.global-footer /* Footer */
	{
        /* Background color */
        background-color: var(--color-bg) !important;
    }

	#header-bottom-container nav ul li a /* Menu bar below header */
	{
		/* Reduce size of buttons */
		display: initial;
	}

	.navigation-lower .navigation-dropdown a, /* Border around menu bar links */
	table th,
	table tbody th,
	.accordion .accordion-title /* Dropdown titles */
	.media-item,
	.col-footer ul, /* Footer URL lists */
	.col-footer li
	{
		padding: 0 !important;
	}

	footer *
	{
		border: none !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	tbody#full-record-partial * *,
	tbody#full-record-more * *,
	tbody#full-record-hidden * *
	{
		border-bottom: 1px solid white;
	}

	main.standard-responsive-layout [data-accordion], /* Line at the end of a book description page */
	main.standard-responsive-layout [data-accordion]:not([data-activatable*="active"]) /* Line at the end of a book description page */
	{
		border-bottom: none;
	}

    .selected {
        background-color: var(--color-bg-item-focus);
    }

    body,
    .SearchBox,
    .logon,
    h1, h2, h3, h4, h5, h6,
    label,
    .holds-title,
    .menu-item,
    span,
    p,
    ul,
    th,
	.place-hold-confirmation .record-details *, /* "Hold placed" main panel */
	.form-submission-response *, /* "Hold placed" main panel 2 */
	.record-details *
	{
        /* Text color */
        color: var(--color-fg) !important;
    }

    a:link,
    a
    {
        /* Text color for URLs */
        color: var(--color-fg-url) !important;
    }

    .media-item
    {
        background-color: var(--color-bg-item-focus) !important;
        border: none;
    }

    p.notice, .branch-message-outer, .branch-message p, .alert {
        background-color: var(--color-bg-alert) !important;
    }

	.submission-alert /* Green or red circle */
	{
		background-color: transparent !important;
		background-image: none;
		margin: 0px;
		padding: 0px;
	}

	.submission-record-confirmation
	{
		margin-bottom: 10px;
	}

    .components-PromotionAlert-___styles__horizontalBannerContainer___1oc2U
	{
		/* Low priority alerts like surveys */
		background-color: dimgray;
		border-top: none; /* Gets rid of 3px thick green top border */
	}

	.social-container, /* Social media icon container: FaceBook, Twitter, etc. */
	.enewsletter .text-center div img /* Email icon for the eNewsletter */
	{
		display: none;
	}
}
