/* ==UserStyle==
@name           Reddit Simplified Theme
@version        1.2.0
@author         Hussein Esmail
@description    `A simpler theme template for Reddit (New)`
@namespace      https://github.com/hussein-esmail7/userstyles
@homepageURL    https://github.com/hussein-esmail7/userstyles
@supportURL     https://github.com/hussein-esmail7/userstyles/issues
@updateURL      https://raw.githubusercontent.com/hussein-esmail7/userstyles/main/src/simple_reddit.user.css
==/UserStyle== */


@-moz-document domain("reddit.com") {

    /* Reddit - New Theme */

    /* What this theme does:
    1. Hide Premium/Coins/Powerups/Talk/Predictions buttons on sidebars
    2. Hide Award button on each post
    3. (try to) Hide Twitter JS frames when linked to a tweet
    4. Hides RPAN items in your feed
	5. Indents posts and comments book-style
	6. Removed each person's avatar for each comment
	7. Removed default custom feed cover images
    */

    :root {
        --color-bg: #141414;
        --color-fg: #f8f8f8;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
		--color-border-flair: rgb(103, 174, 229);
        --table-hover-color: #222222;
        --color-bg-search: white;
		--font-default: Verdana, Helvetica, Arial, sans-serif;
		--font-all: monospace;		/* New main font to use */
		--font-all-spacing: -1px;	/* New main font spacing (if it needs to be altered) */
        color-scheme: dark;			/* Used to get dark scroll bars */
    }

	*:not(i) {
		font-family: monospace !important;
		letter-spacing: var(--font-all-spacing);
	}

	._3ryJoIoycVkA88fy40qNJc /* Subreddit names in posts */
	{
		font-weight: 500;
	}

    ._17nmfaMf1Rq20sVfEmle0O.yIt5UPS176eVebNGNRQtf ._2MkcR85HDnYngvlVW2gMMa, /* Website thumbnails that aren't really images */
    ._3JgI-GOrkmyIeDeyzXdyUD._2CSlKHjH7lsjx0IpjORx14 iframe /* TODO: Embedded Twitter frame (temporary) */
    {
        height: 0px;
        width: 0px;
    }

	/* New background color */
	._3ozFtOe6WpJEMUtxDOIvtU, /* Main panel background */
	.uI_hDmU5GSiudtABRz_37, /* Content of a specific post link */
	.uI_hDmU5GSiudtABRz_37 *:not(._3MknXZVbkWU8JL9XGlzASi *,
		span._1jNPl3YUk6zbpLWdjaJT1r),
		/* Content of a specific post link except for text box for new comments
		 * _1jNPl3YUk6zbpLWdjaJT1r is for flair colours on a post */
	._1poyrkZ7g36PawDueRza-J, /* Each post's preview box in feed */
	._3Qkp11fjcAw9I9wtLo8frE, /* Upvote side of each post in feed */
	._3JDs8KEQIXSMn1bTF2ZqJ_, /* Top border of a subreddit (center) */
	.q4a8asWOWdfdniAbgNhMh, /* Top border of a subreddit (padding) */
	._1gVVmSnHZpkUgVShsn7-ua, /* Subreddit header links bar */
	._3Oa0THmZ3f5iZXAQ0hBJ0k, /* Image panel */
	._3BxRNDoASi9FbGX01ewiLg, /* Image panel for multiple images */
	._1f7kdhvpHh0S3ClTn3xFCa, /* Custom feed header */
	.MSTY2ZpsdupobywLEfx9u, /* Header */
	.wBtTDilkW_rtT2k5x3eie, /* Sort by bar */
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX, /* Sidebar content */
	._ZhON3a3vplThB8NFwuJn, /* Sidebar headers */
	._2vkeRJojnV7cb9pMlPHy7d /* Top bar when logged out */
	{
		background-color: var(--color-bg) !important;
	}

    /* Elements to hide */
    ._17nmfaMf1Rq20sVfEmle0O.yIt5UPS176eVebNGNRQtf ._2MkcR85HDnYngvlVW2gMMa, /* Website thumbnails that aren't really images */
    ._1EWxiIupuIjiExPQeK4Kud, /* Award button on each post */
	/* ._3JgI-GOrkmyIeDeyzXdyUD._2CSlKHjH7lsjx0IpjORx14 iframe, /* TODO: Embedded Twitter frame (temporary) */
    ._3qQRMrsougg399HF8ZDsfl, /* RPAN posts in home feed */
    .oiDWziAp_Bua6rb7oQKXs, /* Live button on sidebar */
    ._2zZ-KGHbWWqrwGlHWXR90y._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t, /* Advertise button on top bar */
    a#focus-Coins._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Coins button on sidebar */
    a#focus-Powerups._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Coins button on sidebar */
    a#focus-Predictions._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Predictions button on sidebar */
    a#focus-Premium._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Premium button on sidebar */
    a#focus-Talk._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Talk button on sidebar */
    a#focus-WrappedReddit._26MVepkxZHzpNv1cuAA4JA._2MgAHlPDdKvXiG-Qbz5cbC, /* Reddit Recap button on sidebar */
    a._1YWXCINvcuU7nk0ED-bta8[href="/coins"], /* Coins button on profile menu */
    a._1YWXCINvcuU7nk0ED-bta8[href="/powerups"], /* Powerups button on profile menu */
    a._1YWXCINvcuU7nk0ED-bta8[href="/predictions"], /* Predictions button on profile menu */
    a._1YWXCINvcuU7nk0ED-bta8[href="/premium"], /* Premium button on profile menu */
    a._1YWXCINvcuU7nk0ED-bta8[href="/talk"], /* Talk button on profile menu */
    a._3fbofimxVp_hpVM6I1TGMSGCltVwsXPu5lE-gs4Nucu[href="https://ads.reddit.com?utm_source=d2x_consumer&utm_name=user_menu_cta"], /* Advertise on Reddit button on profile menu */
    ._3fbofimxVp_hpVM6I1TGMS._3zu1R6cDitNjrJaFA1VPXj[href="/coins"], /* Coins button on profile menu */
    ._3fbofimxVp_hpVM6I1TGMS.GCltVwsXPu5lE-gs4Nucu[href="/powerups"], /* Powerups button on profile menu */
    ._3fbofimxVp_hpVM6I1TGMS.GCltVwsXPu5lE-gs4Nucu[href="/predictions"], /* Predictions button on profile menu */
    ._3fbofimxVp_hpVM6I1TGMS.GCltVwsXPu5lE-gs4Nucu[href="/premium"], /* Premium button on profile menu */
    ._3fbofimxVp_hpVM6I1TGMS.GCltVwsXPu5lE-gs4Nucu[href="/talk"], /* Talk button on profile menu */
    a[href="/r/psbattleslive"], /* Hide sponsored button from top nav bar */
    a[href="/rpan/"], /* RPAN button from top nav bar */
	a[href*="/m/"] img, /* Custom feed's thumbnails on sidebar */
    ._2mHuuvyV9doV3zwbZPtIPG.ZvAy-PJfJmB8pzQxpz1sS, /* Avatar Images in comments */
	._3Wv3am0TXfTcugZJ6niui ._36AIN2ppxy_z-XSDxTvYj5, /* Comment thread line start */
	.M2Hk_S2yvXpsNPfZMBMur i, /* Icons for sort by modes */
	._1b1Jalg2nxA_Z-BjKXRfAV, /* Reddit Premium ad on sidebar */
	.QscnL9OySMkHhGudEvEya img, /* Subreddit logo at top */
	h1._2yYPPW47QxD4lFQTKpfpLQ, /* Subreddit slogan */
	.jEUbSHJJx8vISKpWirlfx._1dJtiWITrnvIbQdXgYgdym, /* Free coins button on top bar */
	._2fCzxBE1dlMh4OFc7B3Dun, /* "Posted by" string before every user */
	.action-brave-tip, /* Brave Browser's BAT Tip button */
	._2L5G9B5yaoqW3IegiYN-FL, /* Subreddit banner header */
	.pthKOcceozMuXLYrLlbL1, /* Sort by icons on mobile */
	._17nmfaMf1Rq20sVfEmle0O, /* URL thumbnail on external URLs */
	img[src*="https://www.redditstatic.com/custom_feeds/custom_feed_default_"],
	._2E_zUw3OUkCKUFrIQwE894, /* User avatar beside "Create Post" bar */
	.TmlaIdEplCzZ0F1aRGYQh, /* Awarded comment gradient coloring */
	._3VH2iGVh92XtlKq0-eVoEN, /* Awarded comment red glow border */
	._3hUbl08LBz2mbXjy0iYhOS, /* "See Full Image" buttons, since no more need */
	._2dr_3pZUCk8KfJ-x0txT_l, /* Subreddit thumbnail beside each post in Custom Feeds */
	._3dZnYgFFpifT-M_Vs2FAq6[href*="/RedditRecap"], /* Reddit Recap button on top bar */
	._2-aCCpAklEV0DkVWrpodjE, /* Top Communities side panel header image */
	._3XoW0oYd5806XiOr24gGdb ._2OYwDdghtXEuTF67C95YLY, /* Award icons on saved post titles */
	button#PostAwardBadges--t3_sqad0i-view-all, /* Award "& 53 more" buttons on saved post titles */
	button._3hna43Sh0DTnoV7v2NNc2r._2iuoyPiKHN3kfOoeIQalDT._10BQ7pjWbeYP63SAPNS8Ts.HNozj_dKjQZ59ZsfEegz8 /* "Shop Avatars" button at top bar */
	{
        /* Elements to hide */
        display: none !important;
    }

	li ._1qeIAgB0cPwnLhDF9XSiJM /* Comment and post paragraphs */
	{
		padding: 0em;
		text-indent: 0em; /* Undo paragraph-style for list items */
	}

	.wBtTDilkW_rtT2k5x3eie /* Sort by block */
	{
		/* Make it thinner to save space */
		padding: inherit;
	}

	a[href*="/m/"] span /* Custom feed's text on sidebar */
	{
		/* Removes left spacing on custom feeds that help with the images */
		/* But the images are no longer there */
		margin-left: 0px !important;
	}

	._3Qkp11fjcAw9I9wtLo8frE, /* Post content */
	._1S4dp8VZwrWTJ66AYDKJ8H /* "Add community to custom feed" spacing */
	{
		/* Get rid of margin spacing */
		margin: 0;
	}

	._1S4dp8VZwrWTJ66AYDKJ8H /* "Add community to custom feed" spacing */
	{
		margin-left: 10px;
	}

	._3GisC5qJ-ELW9BhucOWh1M /* "Add community to custom feed" spacing */
	{
		padding: 10px 5px;
	}

	._2VqfzH0dZ9dIl3XWNxs42y, /* Post flairs */
	._2X6EB3ZhEeXCh1eIVA64XM /* User flairs on comments */
	{
		border: solid 1px var(--color-border-flair); /* Border color for each flair */
		background-color: transparent !important;
		color: var(--color-fg) !important;
		border-radius: 20px;
	}

	._1qeIAgB0cPwnLhDF9XSiJM /* Every comment text */
	{
		color: var(--color-fg) !important;
	}

	._2xu1HuBz1Yx6SP10AGVx_I, /* Post flair divs */
	._2X6EB3ZhEeXCh1eIVA64XM /* User flairs on comments */
	{
		/* Vertically centering flair divs to title text */
		vertical-align: middle;
	}

	.yn9v_hQEhjlRNZI0xspbA,
	._32pB7ODBwG3OSx1u_17g58, /* Post content */
	.VatfkH4hd3AcIOCT15Zai, /* Location button on r/popular */
	.GzkzdrqG-NjAYH7eKJan4, /* Date button on r/popular on Top mode */
	._3-miAEojrCvx_4FQ8x3P-s, /* Buttons bar underneath each post */
	._2qww3J5KKzsD7e5DO0BvvU, /* Comments button */
	._2jJNpBqXMbbyOiGCElTYxZ, /* "Create Post" input box border */
	._3I4Wpl_rl6oTm02aWPZayD /* Subreddit name left padding */
	{
		/* Removing padding */
		padding: 0 !important; /* Spacing under URLs of articles */
	}

	.kU8ebCMnbXfjCWfqn0WPb, /* Share button */
	._3-miAEojrCvx_4FQ8x3P-s .YszYBnnIoNY8pZ6UwCivd /* Save button */
	{
		padding: 0px 5px;
	}

	a.M2Hk_S2yvXpsNPfZMBMur /* Sort by buttons, reduce size */
	{
		padding: 0px 8px;
	}

	/* -- Commented out because this hides all media
	.m3aNC6yp8RrNM_-a0rrfa /* Frame for YouTube video miniplayers */
	/*
	{
		height: 0;
		width: 0;
	} */

	._3Qkp11fjcAw9I9wtLo8frE, /* Each post in feed */
	._3Qkp11fjcAw9I9wtLo8frE:hover /* Each post in feed */
	{
		/* Borders to hide */
		border: none;
	}

	h2._33aRtz9JtW0dIrBNKFAl0y /* Subreddit name at top */
	{
		font-size: 20px;
		color: var(--color-fg);
	}

	._2L5G9B5yaoqW3IegiYN-FL /* Subreddit banner at top */
	{
		background-color: var(--color-bg) !important;
	}

	._3a2ZHWaih05DgAOtvu6cIo, /* Spacing near vote buttons */
	._JRBNstMcGxbZUxrrIKXe, /* Spacing before Save button */
	.zgT5MfUrDMC54cpiCpZFu /* "Create Post" right side of border */
	{
		margin: 0px;
	}

	.icon-comment,
	.icon-share,
	.icon-saved,
	.icon-save
	{
		font-size: 15px;
	}

	._1_TJAX-8zAT3vVN1Iz7cys /* Subreddit links header */
	{
		/* Center content */
		justify-content: space-around;
	}

	._1RYN-7H8gYctjOQeL8p2Q7, /* Each post border */
	._3xuFbFM3vrCqdGuKGhhhn0
	{
		/* This is here so that posts don't shift when you hover on one */
		border: 1px solid var(--color-bg);
	}

	._1RYN-7H8gYctjOQeL8p2Q7:hover, /* Each post border */
	._3xuFbFM3vrCqdGuKGhhhn0:hover
	{
		/* Highlights selected post (will redirect if clicked) */
		border: 1px solid white;
	}

	.XEkFoehJNxIH9Wlr5Ilzd /* Sidebar text */
	{
		padding: 5px 24px;
	}

	.VJkPo4gom3XvkL4X-w0JS.ZGQod_mafxz0rQZ6X1osG, /* Top bar when scrolled lower */
	._3JDs8KEQIXSMn1bTF2ZqJ_
	{
		background-color: transparent !important;
	}

	.VJkPo4gom3XvkL4X-w0JS.ZGQod_mafxz0rQZ6X1osG /* Top bar when scrolled lower */
	{
		border: none;
	}

	._3Oa0THmZ3f5iZXAQ0hBJ0k /* Divs that contain images (after a non-class div) */
	{
		justify-content: left;
	}

	._2_tDEnGMLxpM6uOa2kaDB3.ImageBox-image._1XWObl-3b9tPy64oaG6fax:not(.media-element) /* Images with a "See full image" button */
	{
		height: 100%;
		margin-left: 0;
	}

	._1qeIAgB0cPwnLhDF9XSiJM /* Main content paragraph */
	{
		/* Increase the font size since with this font it's too small to read
		 * on a laptop */
		font-size: 110%;
	}


	/*
! www.reddit.com##._1b1Jalg2nxA_Z-BjKXRfAV
! www.reddit.com##.scrollerItem.hrQ5rXDbyl6t3TIXxENXB._3Qkp11fjcAw9I9wtLo8frE._1EG7_Cm18ANvUvJ4rJdRgQ
! www.reddit.com###t3_moc7cd > ._11R7M_VOgKO1RJyRSRErT3._1poyrkZ7g36PawDueRza-J > ._1ixsU4oQRnNfZ91jhBU74y > ._3-miAEojrCvx_4FQ8x3P-s > div._3U_7i38RDPV5eBv7m4M-9J > ._28vEaVlLWeas1CDiLuTCap._1EWxiIupuIjiExPQeK4Kud._3yh2bniLq7bYr4BaiXowdO.YszYBnnIoNY8pZ6UwCivd._10K5i7NW6qcm-UoCtpB3aK
! www.reddit.com###t3_moedrr > ._11R7M_VOgKO1RJyRSRErT3._1poyrkZ7g36PawDueRza-J > ._1ixsU4oQRnNfZ91jhBU74y > ._3-miAEojrCvx_4FQ8x3P-s > div._3U_7i38RDPV5eBv7m4M-9J > ._28vEaVlLWeas1CDiLuTCap._1EWxiIupuIjiExPQeK4Kud._3yh2bniLq7bYr4BaiXowdO.YszYBnnIoNY8pZ6UwCivd._10K5i7NW6qcm-UoCtpB3aK
! www.reddit.com##._2QeqBqfT5UbHBoViZUt-wX._1G4yU68P50vRZ4USXfaceV._1mSkPKPjFPKBRNpXETPzqL._2Zqrm36MciZxq2elpbtQig
! www.reddit.com##a._3dZnYgFFpifT-M_Vs2FAq6:nth-of-type(3)
! www.reddit.com##._1b1Jalg2nxA_Z-BjKXRfAV
! www.reddit.com###focus-Premium
! www.reddit.com##._1dJtiWITrnvIbQdXgYgdym.jEUbSHJJx8vISKpWirlfx
	 */
}
