/* ==UserStyle==
@name           Reddit Simplified Theme
@namespace      github.com/hussein-esmail7/userstyles
@version        1.0.2
@description    `A simpler theme template for Reddit (New)`
@author         Hussein Esmail
==/UserStyle== */



@-moz-document domain("reddit.com") {

    :root {
        --color-bg: #141414;
        --color-fg: #f8f8f8;
        --color-fg-secondary: #eeeeee;
        --color-fg-button: black;
        --color-bg-table: #31363a;
        --table-hover-color: #222222;
        --color-bg-search: white;
    }

    
    ._17nmfaMf1Rq20sVfEmle0O.yIt5UPS176eVebNGNRQtf ._2MkcR85HDnYngvlVW2gMMa, /* Website thumbnails that aren't really images */
    ._3JgI-GOrkmyIeDeyzXdyUD._2CSlKHjH7lsjx0IpjORx14 iframe /* TODO: Embedded Twitter frame (temporary) */
    {
        height: 0px;
        width: 0px;
    }
    a[href="/rpan/"], /* Hide rpan button from top nav bar */
    a[href="/r/psbattleslive"], /* Hide sponsored button from top nav bar */
    ._3qQRMrsougg399HF8ZDsfl, /* rpan posts in home feed */
    ._1EWxiIupuIjiExPQeK4Kud, /* Award button on each post */
    ._17nmfaMf1Rq20sVfEmle0O.yIt5UPS176eVebNGNRQtf ._2MkcR85HDnYngvlVW2gMMa, /* Website thumbnails that aren't really images */
    ._3JgI-GOrkmyIeDeyzXdyUD._2CSlKHjH7lsjx0IpjORx14 iframe /* TODO: Embedded Twitter frame (temporary) */
    
    {
        /* Elements to hide */
        display: none !important;
    }
}